<!DOCTYPE html>

<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width", initial-1.0" />
  <title>Report Scrapping API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>LAB Report</h1>

     <!-- Main Input For Receiving Member_id -->
    <form action="{{ url_for('scrape')}}"method="post" enctype="multipart/form-data">
	
	<input type="file" name="image/PDF"  accept="image/*,application/pdf" multiple/>
    	<input type="submit" name="but_upload" value="Upload" required>

	<br><p><b>OR</b></p>
	<input type="number" name="ImageId" placeholder="ImageId"  />
	<br>
        
	<br>	

        <button type="submit" class="btn btn-primary btn-block btn-large">Request</button>
    </form>

   <br>
   <br>
	{{output}}

 </div>


</body>
</html>


